@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #111;
  background-color: #FFF;
}

.navBtn{
  @apply hidden h-6 md:inline-flex
        cursor-pointer hover:scale-125
        transition-all duration-150 ease-out;
}

.container-snap::-webkit-scrollbar {
  display: none;
}

#logo {
  font-family: 'Permanent Marker', cursive;
}

#logo2 {
  font-family: 'Permanent Marker', cursive;
}